html,
body {
  margin: 0;
  padding: 5px;
  font-size: 0.95rem;
}

canvas {
  display: block;
}

.description {
  cursor: pointer;
}

.description--en {
  margin-bottom: 5px;
}

.description--ja {
  margin-bottom: 10px;
}